node_modules
**/node_modules
.env
.git
.gitignore
dist
frontend/.next
frontend/out
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.venv
shared/node_modules
infra/terraform/.terraform
infra/terraform/terraform.tfstate*
.DS_Store
