node_modules
npm-debug.log
dist
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
.eggs
*.egg-info
.eggs
*.log
frontend/.next
frontend/node_modules
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.venv
backend/venv
shared/node_modules
infra/terraform/.terraform
infra/terraform/terraform.tfstate*
