version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: infra/Dockerfile.backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
    depends_on: []
    command: yarn workspace backend start
  frontend:
    build:
      context: .
      dockerfile: infra/Dockerfile.frontend
    env_file:
      - .env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
    depends_on:
      - backend
    command: yarn workspace frontend dev
